/* ? Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

/* ? Tailwind Css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ? Navbar Style */
.header_menu_item {
	@apply font-hindSiliguri text-xl font-normal leading-8 transition-all duration-300 ease-in-out
}
.scroll-carousel-viewport {
    padding: 0px 0px 30px;
}
.overly_box {
	background: linear-gradient(180deg, rgba(250, 250, 250, 0.00) 17.29%, #fafafae3 84.06%);
}
.dark_overly {
	background: linear-gradient(180deg, rgba(250, 250, 250, 0.00) 17.29%, #1e293bd6 84.06%);
}
/* ? Hero Section Style  */
.hero_section_style {
	background: linear-gradient(180deg, rgba(234, 244, 223, 0.70) 0%, rgba(244, 237, 218, 0.70) 97.4%);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	@apply bg-theme-lang-switcher
}
.header_style {
	@apply h-[10vh] min-h-[90px] lg:h-[13vh] lg:min-h-[121px] dark:bg-slate-800
}
/* ? Home Page */
.author_text_style {
	@apply absolute -translate-y-2/4 text-[#7F7056] dark:text-slate-100 text-[98px] font-bold uppercase rotate-90 opacity-10 right-0 top-[68%] lg:top-2/4
}
.book_list {
	background: linear-gradient(180deg, rgba(234, 244, 223, 0.70) 0%, rgba(244, 237, 218, 0.70) 97.4%);
}
.link_style_class {
	@apply flex flex-wrap items-center gap-3 text-theme-heading-text dark:text-theme-white/90 hover:text-theme-lang-switcher dark:hover:text-theme-lang-switcher transition-all duration-300 ease-in-out
}
.book_index_list {
	@apply py-2 px-3 border-b-theme-border-1 border-theme-border text-lg text-theme-body-text dark:text-theme-white/90
}
.chapter_name_loading_animation {
	@apply h-[49px] w-full mb-2 bg-gray-200 dark:bg-slate-500 animate-pulse
}
.chapter_data_loading_animation {
	@apply h-5 w-full mb-2 bg-gray-200 dark:bg-slate-500 animate-pulse rounded-lg
}
/*? Scrollbar Track Design */
#scrollBarStyle::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(234, 244, 223, 0.20);
	background-color: #E6EDDD;
}
#scrollBarStyle::-webkit-scrollbar {
	width: 10px;
	background-color: #E6EDDD;
}
#scrollBarStyle::-webkit-scrollbar-thumb {
	@apply bg-theme-books-en border-theme-border-1 border-theme-border h-10 rounded-full
}

#searchScrollBarStyle::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(234, 244, 223, 0.20);
	background-color: #fff;
}
#searchScrollBarStyle::-webkit-scrollbar {
	width: 10px;
	background-color: #fff;
}
#searchScrollBarStyle::-webkit-scrollbar-thumb {
	@apply bg-theme-books-en border-theme-border-1 border-theme-border h-10 rounded-full
}

/* ? AudioPlayer.css */
.playback_speed_list {
	@apply px-5 py-2 font-poppins text-sm leading-6 font-medium hover:bg-theme-books-bn dark:border-slate-600 dark:hover:bg-slate-600 transition-all duration-300 ease-in-out
}
.setting_options {
	@apply flex gap-2 items-center w-full px-2 py-3 border-b-theme-border-1 border-theme-border dark:border-slate-600 dark:hover:bg-slate-600 hover:bg-theme-books-en transition-all hover:border-theme-books-en duration-300 ease-in-out
}
.choose_option_wrap {
	@apply flex flex-col absolute bottom-5 -right-[22px] bg-white dark:bg-slate-800 shadow-theme-chapter-shadow w-[200px] min-h-[339px] z-20
}
.choose_wrap {
	@apply flex font-semibold gap-2 font-poppins text-sm items-center shadow-theme-chapter-shadow px-2 py-4 hover:bg-theme-books-bn dark:hover:bg-slate-700 transition-all duration-300 ease-in-out h-[52px]
}

/* ? Inner Page Style */
.inner_page_bg {
	background: linear-gradient(180deg, #E4EFDA 0%, #EFE7D5 100%);
	@apply h-[87vh] py-20
}
.inner_page_heading {
	@apply text-4xl text-theme-heading-text font-semibold mb-3
}
.inner_page_p {
	@apply text-xl text-justify space-y-4 text-theme-body-text
}

/* ? Not Found Page Style */
.not_found_page_btn {
    box-sizing: content-box;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right bottom, #7F60F9, #6DDCFF);
    border-image-slice: 1;
    border-radius: 10px; 
}
/* Custom range input styles */
.full_audio_length {
	-webkit-appearance: none;
	background-image: linear-gradient(#7F7056, #7F7056);
	background-size: 0% 100%;
}
.full_audio_length::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #7F7056;
}

/* ? Chapter List */
.khondo_pristha {
	@apply text-sm font-semibold font-openSans
}